{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard | Actualizar componente
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/dashboard.css')}}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar"
        aria-expanded="false"
        aria-controls="navbar"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('dashboard')}}">Laboratorio 414</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('dashboard')}}">Dashboard</a></li>
        <!-- <li><a href="#">Configuración</a></li>
            <li><a href="#">Perfil</a></li> -->
        <li><a href="{{ url_for('logout')}}">Cerrar sesión</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search..." />
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <section class="content">
    <div class="box box-info">
      <div class="box-header with-border">
        <center>
          <h3 class="box-title">Actualizar componente</h3>
        </center>
      </div>
    </div>

    <form class="form-horizontal" method="POST" action="/components/updatecomponents">
      {% for component in components %}

      <div class="box-body">
        <div class="form-group">
          <label class="col-sm-2 control-label">Nombre</label>
          <div class="col-sm-10">
            <input
              value="{{ component.name }}"
              name="name"
              type="text"
              class="form-control"
              placeholder="Nombre del componente"
              autocomplete="off"
              required
            />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Descripción</label>
          <div class="col-sm-10">
            <input
              value="{{ component.description }}"
              name="description"
              type="text"
              class="form-control"
              placeholder="Descripción del componente"
              autocomplete="off"
              required
            />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Cantidad</label>
          <div class="col-sm-10">
            <input
              value="{{ component.quantity }}"
              name="quantity"
              type="number"
              class="form-control"
              placeholder="Cantidad"
              autocomplete="off"
              required
            />
          </div>
        </div>

        <div class="box-footer">
          <a href="{{ url_for('dashboard')}}"> <button type="button" class="btn btn-default">Cancelar</button> </a>
          <input type="submit" name="update" class="btn btn-info pull-right" value="Actualizar" />
        </div>
      </div>
      {% endfor %}
    </form>
  </section>
</div>

{% endblock %}
