{% extends "layout.html" %}

{% block title %}
Laboratorio 414
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/starter-template.css')}}" />
{% endblock %}

{% block container %}
<div class="starter-template">
  <h1>Componentes electrónicos</h1>
  <p class="lead">
    Esta web es diseñada para poder separar y administrar la entrega de componentes electrónicos<br />
    Empieza por registrarte en la barra superior.
  </p>
</div>
{% endblock %}
